<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	   <div class="card mr-3 ml-3">
	      <div class="card-body">
	        <h1 class="text-center">Add Contact</h1>
	        <div class="col-md-10 offset-md-1">
	            <form action="#"
	                  th:object="${contact}"
	                  enctype="multipart/form-data"
	                  method="POST"
	                  th:action="@{/user/process-contact}"
	                  class="mt-2"
	            >
	            
	            
	           <!--  first Name field -->
	           
	            <div class="input-group">
	               <div class="input-group-prepend">
	                  <div class="input-group-text ">
	                      <i class="fa fa-plus"></i>
	                  </div>
	               </div>
	               <input required="required" type="text" id="firstname" name="name" placeholder="Enter Name Here" class="form-control" />
	            </div>
	            
	            <!--  second Name field -->
	           
	            <div class="input-group mt-3">
	               <div class="input-group-prepend">
	                  <div class="input-group-text ">
	                      <i class="fas fa-user-alt"></i>
	                  </div>
	               </div>
	               <input required="required" type="text" id="secondName" name="secondName" placeholder="Enter Second Name Here" class="form-control" />
	            </div>
	            
	            <!--  phone field -->
	           
	            <div class="input-group mt-3">
	               <div class="input-group-prepend">
	                  <div class="input-group-text ">
	                      <i class="fa fa-phone"></i>
	                  </div>
	               </div>
	               <input required="required"  type="number" id="phone" name="phone" placeholder="Enter phone number" class="form-control" />
	            </div>
	            
	            <!--  email field -->
	           
	            <div class="input-group mt-3">
	               <div class="input-group-prepend">
	                  <div class="input-group-text ">
	                      @
	                  </div>
	               </div>
	               <input type="email" id="email" name="email" placeholder="Enter email here" class="form-control" />
	            </div>
	            
	            <!--  work field -->
	           
	            <div class="input-group mt-3">
	               <div class="input-group-prepend">
	                  <div class="input-group-text ">
	                      <i class="fa fa-breafcase"></i>
	                  </div>
	               </div>
	               <input type="text" id="work" name="work" placeholder="Enter work here" class="form-control" />
	            </div>
	            
	             <!--  work field -->
	             	<div class="form-group mt-3">
	             	   <textarea name="descp" id="mytextarea" placeholder="Enter your contact description " class="form-control" cols="30" rows="10"></textarea>
	             	</div>
	             	
	             <!--  contact image field -->	
	               <div class="custom-file">
	                 <input type="file" name="profileImage" />
	               </div>
	            <!--  button -->
	            <div class="container text-center">
	               <button type="submit" class="btn btn-primary">Save Contact</button>
	            </div>
	            </form>        
	        </div>
	      </div>
	   </div>
	   <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	   <script>
	      tinymce.init({
	        selector: '#mytextarea'
	      });
    </script>
	</section>
</body>
</html>