<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="container">
	  <div class="row">
	     <div class="col-md-6 offset-md-3">
	       <div class="my-card mt-3 ">
	       
	        <div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
		       <p th:text="${session.message.content}"></p>
		       <ht:block th:text="${#session.removeAttribute('message')}"></ht:block>
		    </div>
	       
	       
	       <div class="container text-center">
	           <img th:src="@{/img/register.png}" style="width:100px;" />
	         </div>
	         <h1 class="text-center">Registre Here !</h1>
	         
	         
	         
	         <form novalidate="novalidate" th:action="@{/do_register}" method="post"  th:object="${user}">
	             <!-- name field -->
	         
	         <div class="form-group">
			    <label for="name">Your Name</label>
			    <input type="text" 
			    name="name"
			    class="form-control " 
			    th:classapend="${#fields.hasErrors('name')?'is-invalid':''}"
			    id="name" 
			    aria-describedby="emailHelp" 
			    placeholder="Enter UserName"
			    required 
			    th:value="${user.name}"
			    >
			    
			    <div class="invalid-feedback" th:each=" e : ${#fields.errors('name')}" th:text="${e}">
			       
			    </div>
			    
   			</div>
   			
   			<!-- email field -->
	         
	         <div class="form-group">
			    <label for="email">Your Email</label>
			    <input type="email" 
			    name="email"
			    class="form-control" 
			    id="email" 
			    aria-describedby="emailHelp" 
			    placeholder="Enter user_email"
			    required 
			    th:value="${user.email}"
			    >
   			</div>
   			
   			<!-- password field -->
	         
	         <div class="form-group">
			    <label for="password">Email Password</label>
			    <input type="password" 
			    name="password"
			    class="form-control" 
			    id="password" 
			    aria-describedby="emailHelp" 
			    placeholder="Enter user_password"
			    required 
			    
			    >
   			</div>
   			
   			<!-- user about field -->
   			<div class="form-group">
   			 <textarea th:text="${user.about}" name="about" placeholder="Enter Something yourself.." rows="4" class="form-control"></textarea>
   			</div>
   			
   			<!-- terms and condition agreement -->
   			
   			<div class="form-group form-check text-center">
   			   <input type="checkbox" class="form-check-input" name="agreement" id="agreement" />
   			   <label for="agreement">Accept terms and conditions</label>
   			</div>
   			
   			<div class="container text-center">
   			   <button type="submit" class="btn bg-primary">
   			      Submit
   			   </button>
   			   
   			   <button type="reset" class="btn btn-warning">
   			      Reset
   			   </button>
   			</div>
	         </form>
	         
	         
	       </div>
	       
	    </div>
	  </div>
	</div>
	  
	</section>
</body>
</html>